@using WSEI_MURP
@using WSEI_MURP.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model WSEI_MURP.Models.Account.RegisterViewModel

<fieldset>
    <h1>New User Registration</h1>
    <br/>
    <form asp-action="Register">
        <div asp-validation-summary="All"></div>
        <div class="form-group">
            <label asp-for="EmailAddress"></label>
            <input type="Email" asp-for="EmailAddress" class="form-control" />
            <span asp-validation-for="EmailAddress"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password"></label>
            <input type="Email" asp-for="Password" class="form-control" />
            <span asp-validation-for="Password"></span>
        </div>
        <div class="form-group">
            <label asp-for="ConfirmPassword"></label>
            <input type="Email" asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword"></span>
        </div>
        <button type="submit">Register</button>
    </form>
</fieldset>